.login-page {
	height: calc(100vh - 64px);
}

.login-section {
	background-color: #983086;
}

.login-text-section {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	text-align: right !important;
	padding: 5% 3% !important;
}

.login-secondary-text {
	font-weight: 700 !important;
	display: flex !important;
	justify-content: flex-end !important;
	align-items: center !important;
	margin-bottom: 10px !important;
}

.login-form {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100% !important;
}

.login-head {
	color: white !important;
	font-weight: 900 !important;
	margin: 5% 0 !important;
	-webkit-text-stroke: 1.5px black !important;
}

.login-form .MuiOutlinedInput-notchedOutline {
	border-color: black !important;
}

.login-form .MuiSelect-outlined {
	background-color: white !important;
}

gender-select option {
	font-weight: bold !important;
}

.login-form .MuiFormHelperText-root.Mui-error {
	font-weight: bold !important;
}

@media screen and (max-width: 960px) {
	.login-section {
		height: calc(100vh - 64px);
	}
}

@media screen and (max-width: 750px) {
	.login-secondary-text {
		font-size: 1rem !important;
	}
	.login-jumbo {
		font-size: 1.8rem !important;
	}
	.login-head {
		font-size: 2.5rem !important;
	}
}