@import "defaults";

$primary: #ED3B9D;
$secondary: #FE0074;

$header-color: hsl(0, 0, 96%);

$input-background-color: #991274;

$font-family: $base-font-family;
$font-weight: $base-font-weight;
$font-size: $base-font-size;

$dark-text-color: hsl(0, 0, 96%);
$light-text-color: hsl(0, 0, 96%);

$dark-bg: hsl(0, 0, 4%);
$light-bg: #FE0074;

$window-width: 100%;
$window-height: 70vh;
$message-max-width: 80%;