.MuiToolbar-root {
	min-height: 64px !important;
}

.nav-toolbar {
	margin-right: 3% !important;
}

.nav-brand {
	margin-left: 10px !important;
	font-size: 1.5rem !important;
	font-weight: 900 !important;
}

.nav-toolbar a {
	text-decoration: none;
	margin-left: 4%;
	color: white !important;
	font-weight: 700;
	display: inline-block;
	text-transform: uppercase;
	transition: 0.2s ease-in-out;
}

.nav-toolbar a:hover {
	color: rgb(250, 169, 207) !important;
}