@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
.action-btn {
  border-radius: 50px !important;
  padding: 7px 30px !important;
  font-weight: bold !important;
  letter-spacing: 1.5px !important;
  box-shadow: none !important;
}